<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>The Flash Music Dashboard</h1>
    </div>
  </div>

  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to "Episodes", root_path %></li>
        <li><%= link_to "New Episode", new_music_episode_path(@music) %></li>
        <li><%= link_to "Account Settings", edit_music_registration_path %></li>
        <li><%= link_to "View Albums", music_path(current_music) %></li>
      </ul>
    </div>
  </div>

  <div id="form">
	  <div class="wrapper_skinny">
			<%= render 'form' %>
		</div>
	</div>
</div>